div {
    width: 25%;
    height: 25vh;
    /*vh (view height) and vw (view width) is also there*/
    background-color: aquamarine !important;
    padding: 50px 20px 30px 50px;
    margin: 30px;
    border: 1px solid blue;
    box-sizing: border-box;
    display: inline-block;
    border-left: 2px solid 2px;
    border-radius: 10px 100px;
    background-image: url("../Images/download.png");
    background-size: contain;
    background-size: contain;
    background-size: cover;
    opacity: 0.5;
    overflow: scroll;
}

.bg_yellow {
    background-color: coral !important;
    background-image: url("../Images/1.jpg");
}

.w500 {
    width: 500px;
}

div:hover {
    background-image: url(../Images/3.jfif);
}