body {
    background-color: darkgrey;
}

.img {
    height: auto;
    width: 30%;
    background: white;
    border-radius: 5px;
    float: left;
    margin: 10px;
}

.img_details {
    text-align: justify;
    height: 300px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.img_details {
    padding: 20px;
}

.img_data img {
    width: 100%;
}